body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-syne: Syne;
  --font-rubik: Rubik;
  --font-source-code-pro: "Source Code Pro";
  --font-agrandir: Agrandir;
  --font-archivo: Archivo;
  --font-quicksand: Quicksand;
  --font-inter: Inter;
  --components-button-large: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-lg: 18px;
  --font-size-269xl: 288px;
  --font-size-sm: 14px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-37xl: 56px;
  --font-size-53xl: 72px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-9xl: 28px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-71xl: 90px;
  --components-button-large-size: 15px;
  --font-size-sm-5: 13.5px;
  --font-size-3xl-4: 22.4px;
  --font-size-xs-2: 11.2px;
  --font-size-base-5: 16.5px;
  --font-size-3xl: 22px;
  --font-size-4xl-9: 23.9px;
  --font-size-9xl-4: 28.4px;
  --font-size-2xs-5: 10.5px;
  --font-size-mid-9: 17.9px;
  --font-size-3xs-7: 9.7px;
  --font-size-4xs: 9px;

  /* Colors */
  --white: #fdfdfd;
  --color-gray-700: #fbfdfe;
  --color-gray-800: #949494;
  --color-gray-100: #8e8e94;
  --color-gray-900: #1a1a1a;
  --color-gray-1000: #131313;
  --color-gray-1100: #110f0f;
  --color-gray-1200: #0f0f0f;
  --color-gray-200: #120a14;
  --color-gray-400: rgba(0, 0, 0, 0.87);
  --other-outlined-border: rgba(0, 0, 0, 0.23);
  --color-gray-500: rgba(0, 0, 0, 0.1);
  --color-gray-600: rgba(255, 255, 255, 0.05);
  --color-gray-300: rgba(0, 0, 0, 0.6);
  --color-gray-1300: rgba(255, 255, 255, 0.6);
  --color-gray-1400: rgba(255, 255, 255, 0.8);
  --color-gray-1500: rgba(255, 255, 255, 0.5);
  --color-gray-1600: rgba(255, 255, 255, 0.3);
  --color-gray-1700: rgba(255, 255, 255, 0.09);
  --primary-contrast: #fff;
  --color-coral-100: #ff9142;
  --color-coral-200: rgba(255, 145, 66, 0.5);
  --color-coral-300: rgba(255, 145, 66, 0.09);
  --color-dimgray-300: #666;
  --color-dimgray-100: #616161;
  --color-dimgray-400: #606060;
  --color-dimgray-200: #575757;
  --color-mediumspringgreen: #25d366;
  --color-darkgray-100: #a8a8a8;
  --color-darkgray: #999;
  --color-chocolate: rgba(255, 145, 65, 0.09);
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: rgba(226, 226, 226, 0.1);
  --color-whitesmoke-100: #f4f7fa;
  --color-whitesmoke: #eaeaea;
  --yellow: #ffa800;
  --color-orange: #f99a0e;
  --color-black: #000;
  --color-lightsteelblue: #a1aebf;
  --color-slategray-100: #728095;
  --color-darkslateblue: #1a365d;
  --color-mediumpurple: #8474c4;
  --color-crimson-100: #ff4262;
  --color-crimson-200: #ff4060;
  --color-greenyellow: #cdfe02;
  --color-deepskyblue: #36b9ff;
  --color-mediumslateblue: #5765f2;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #303030;
  --color-cornflowerblue-100: #1262af;
  --color-cornflowerblue-200: #1262ae;
  --color-lavender: #ccdcec;
  --color-silver: #bdbdbd;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-16xl: 35px;
  --gap-31xl: 50px;
  --gap-11xl: 30px;
  --gap-9xs: 4px;
  --gap-37xl: 56px;
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-81xl: 100px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-61xl: 80px;
  --gap-5xl: 24px;
  --gap-lg: 18px;
  --gap-mid: 17px;
  --gap-21xl: 40px;
  --gap-7xs: 6px;
  --gap-41xl: 60px;
  --gap-sm: 14px;
  --gap-12xs: 1px;
  --gap-3xl-4: 22.4px;
  --gap-5xs-5: 7.5px;
  --gap-mini: 15px;
  --gap-mid-2: 17.2px;
  --gap-4xs-2: 8.2px;
  --gap-8xs-5: 4.5px;
  --gap-mid-9: 17.9px;
  --gap-10xs-2: 2.2px;
  --gap-7xl-9: 26.9px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-lgi: 19px;
  --padding-13xl: 32px;
  --padding-3xl: 22px;
  --padding-92xl: 111px;
  --padding-31xl: 50px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-85xl: 104px;
  --padding-4xs-4: 8.4px;
  --padding-xl: 20px;
  --padding-61xl: 80px;
  --padding-51xl: 70px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-101xl: 120px;
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-40xl-8: 59.8px;
  --padding-xs-2: 11.2px;
  --padding-3xs-7: 9.7px;
  --padding-7xs: 6px;
  --padding-9xs-7: 3.7px;
  --padding-10xs: 3px;
  --padding-10xs-2: 2.2px;
  --padding-8xs-5: 4.5px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-13xl-5: 32.5px;
  --br-11xl: 30px;
  --br-base: 16px;
  --br-981xl: 1000px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-61xl: 80px;
  --br-381xl: 400px;
  --br-3xs: 10px;
  --br-41xl: 60px;
  --br-xl: 20px;
  --br-10xs: 3px;
  --br-4xl-2: 23.2px;
  --br-5xs-5: 7.5px;
  --br-28xl-8: 47.8px;
}
